<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Module</th>  
            <th>City</th>
            <th>ZipCode</th>
            <th>Street</th>
        </tr>
        <tr>
            <td>ewtwet</td>
            <td>wetewtw</td>
            <td>wetewrtw</td>
            <td>wetewrtw</td>
            <td>wetewrtw</td>
            <td>dfh</td>
            <td>hfjdj</td>
        </tr>
        <tr>
            <td>ewtwet</td>
            <td>wetewtw</td>
            <td>wetewrtw</td>
            <td>wetewrtw</td>
            <td>wetewrtw</td>
            <td>dfh</td>
            <td>hfjdj</td>
        </tr>
    </table>
</mat-card>



<button (click)="openDialog()" class="add-user-button" mat-fab color="primary" matTooltip="Add User">
    <mat-icon>person_add</mat-icon>
</button>