<mat-card>
    <table class="user-table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Module</th>  
            <th>City</th>
            <th>ZipCode</th>
            <th>Street</th>
        </tr>
        <tr *ngFor= "let user of allUsers">
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>
</mat-card>



<button (click)="openDialog()" class="add-user-button" mat-fab color="primary" matTooltip="Add User">
    <mat-icon>person_add</mat-icon>
</button>